@model IEnumerable<BOOKSTORE.Models.Revenue>

@{
    ViewData["Title"] = "Doanh Thu";
}
<link href="~/css/sb-admin-2.min.css" rel="stylesheet" />
<link href="~/css/sb-admin-2.css" rel="stylesheet" />

<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800" style="">Quản Lý Doanh Thu</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        
        <tr>
            <th>Mã Hóa Đơn</th>
            <th>Tổng giá</th>
            <th>Trạng thái</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var revenue in Model)
        {
            <tr>
                <td>@revenue.OrderId</td>
                <td>@revenue.Total</td>
                <td>
                    <a href="@Url.Action("Details", "Revenue", new { id = revenue.OrderId })" class="btn btn-info">Chi Tiết</a>
                    <form method="post" action="@Url.Action("Delete", "Revenue", new { id = revenue.OrderId })" style="display:inline;">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Xóa</button>
                    </form>
                </td>
            </tr>
        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
